body {
  margin: 0;
  background-color: #dda15e;
  opacity: 1;
  background-image:  linear-gradient(#c69054 2px, transparent 2px), linear-gradient(90deg, #c69054 2px, transparent 2px), linear-gradient(#c69054 1px, transparent 1px), linear-gradient(90deg, #c69054 1px, #dda15e 1px);
  background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}
* {
  box-sizing: border-box;
}

#app, #editor, #preview {
  padding: 10px;
  border: 3px solid #bc6c25;
  border-radius: 5px;
  text-align: center;
}

#app {  
  display: flex;
  flex-direction: row;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  top: 10%;
  left: 5%;
  width: 90%;
  height: 80%;
  background-color: #DDA15E;
}

#editor {
  background-color: #606c38;
  color: #fefae0;
  width: 48%;
  height: 95%;
  overflow: scroll;
}

#preview {
  width: 48%;
  height: 95%;
  background-color: #fefae0;
  color: #283618;
  overflow: scroll;
}